.toggleButton {
	margin: 20px 10px 20px 0px;	
}

.Selectable {
	border: 1px solid black;
	padding: 20px;
	width: 200px;
}

.Selectable ul {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.Selectable ul li {
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	border: 1px solid #eee;
	width: 75px;
	margin: 10px auto;
}